# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://neondb_owner:DfxrA4QFY6ed@ep-black-credit-a23cu842.eu-central-1.aws.neon.tech/neondb?sslmode=require" #posrgresql database url

BETTER_AUTH_SECRET=IOJQutG4teVUZr1QDLbRhwbn7JDR8BOB
ARCJET_KEY=ajkey_01jfaf2yy1ehdsg9f3ntpkepqf
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app


EMAIL_FROM=tarifalhasan999@gmail.com
EMAIL_VERIFICATION_CALLBACK_URL=http://localhost:3000/email-verified


RESEND_API_KEY=re_123456789
# SENDGRID_RECOVERY_CODE= 9EZN4RUCFANTLU4UYBKD6WGS